.chat
  .chat__info
    .chat__info__group-list
      .chat__info__group-list__group-name
        = @group.name
      .chat__info__group-list__member-name
        Member:
        - @group.users.each do |user|
          = user.name
      = link_to edit_group_path(@group), class: "chat__info__group-list__edit-btn" do
        Edit
  .messages
    = render @messages
    .messages__list
      .messages__list__name
        
      .messages__list__date
       
    .messages__box
      .messages__box__content
       
    .messages__list
      .messages__list__name
       
      .messages__list__date
     
    .messages__box
      .messages__box__content
     
  .chat-message
    = form_with model: [@group, @message], html: {class: "forms"}, local: true do |f|
      .form-inputbox
        = f.text_field :content, class: 'form-text', placeholder: 'type a message'
        = f.label :image, class: 'form-btn' do
          = icon('far', 'image', class: 'img-btn')
          = f.file_field :image, class: 'img-file'
      = f.submit 'Send', class: 'form-submit'