.side-bar
  .side-bar__list
    .side-bar__list__top-item
      .side-bar__list__top-item__name
        = current_user.name
      .side-bar__list__top-item__icon 
        = link_to new_group_path, class: "edit-btn" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "cog-btn" do
          = icon('fas', 'cog')
  .side-bar__group
    - current_user.groups.each do |group|
      .side-bar__group__current_user__list
        = link_to 'group_messages_path',class: "a" do
          .side-bar__group__current_user__list__name
            = group.name
          .side-bar__group__current_user__list__message
            = group.show_last_message